<div class="span12">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th style="width: 10%">Gender</th>
				<th style="width: 10%">Rank</th>
			</tr>
		</thead>
		<tbody>
			<% @names.each do |name| %>
				<tr>
					<td><%= name.body %></td>
					<td><%= name.gender %></td>
					<td><%= name.rank %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>