<div class="span12">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Full Name</th>
			</tr>
		</thead>
		<tbody>
			<% @names.each do |name| %>
				<tr>
					<td><%= name %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>