<div class="span12">
	<h1>About this Site</h1>
	<p class="lead">
		This website generates random names using US Census Data.
	</p>
	<h2>First Names</h2>
	<p>
		The first names are generated from <a href="http://www.census.gov/genealogy/www/freqnames.html">1990 US Census Data</a>. This data includes gender and rank (how popular each name was in 1990). 
	</p>
	<p>
		First names may be filtered by:
		<ul>
			<li>Gender</li>
			<li>Rank</li>
		</ul>
	</p>
	<h2>Surnames</h2>
	<p>
		The surnames are generated from <a href="http://www.census.gov/genealogy/www/data/2000surnames/index.html">2000 US Census Data</a>. This data includes rank (how popular each surname was in 2000) as well as statistics indicating the popularity of a given name in five different racial groups. 
	</p>
	<p>
		Surnames may be filtered by:
		<ul>
			<li>Race</li>
			<li>Rank</li>
		</ul>
	</p>
	
</div>